/* ==========================
   Box Sizing
========================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ==========================
   Document
========================== */

html {
  scroll-behavior: smooth;
}

/* ==========================
   Body
========================== */

body {
  margin: 0;
}

/* ==========================
   Typography
========================== */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* ==========================
   Links
========================== */

a {
  color: inherit;
  text-decoration: none;
}

/* ==========================
   Lists
========================== */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ==========================
   Buttons / Inputs
========================== */

button,
input,
textarea,
select {
  font: inherit;
}

/* ==========================
   Images
========================== */

img {
  display: block;
  max-width: 100%;
}

/* ==========================
   Buttons
========================== */

button {
  border: 0;
  cursor: pointer;
}
